// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Typography
$body-font-family: 'Segoe UI', 'Roboto', sans-serif;;
$font-base-size: 14px;

// All Colors Variables
$white: #ffffff;
$light-dark: #111111;
$body-bg: $white;
$brand-color:  #ff0;
$secondary-brand-color: #eff0f0;

