@import "styles/abstracts/mixins";

.restaurant-finder {
  display: flex;
  max-width: 700px;
  padding: 50px 15px;
  align-items: center;
  margin: 0 auto;
  .alter-text {
    width: 50px;
    text-align: center;
    font-weight: 600;

    @include media('xs') {
      padding: 10px 0;
    }
  }
  @include media('xs') {
    flex-direction: column;
  }
}